.form {
  padding: 64px 77px 56px;
  background: linear-gradient(167.4deg, #302A3D 9.13%, #1C1820 120.45%), #656565;
  border-radius: 16px;

  @include media($to: md) {
    padding: 43px 24px 42px;
  }

  &__inner {
    filter: drop-shadow(0px 22px 12px rgba(0, 0, 0, 0.1));
  }

  &__btn {
    margin-top: 21px;
    width: 100%;
  }
}
